@tailwind base;
@tailwind components;
@tailwind utilities;


.bggradient
{
    background:linear-gradient(to right,#e78ef3,#edd95e);
    clip-path:polygon(0 0,100% 0,100% 100%,0 96%);
    position: relative;

}
